h2 Component

p V této části si vytvoříme komponentu, upravíme její šablonu. Vyzkoušíme si šablonové výrazy. Na závěr doplníme komponentě vstupy a výstupy.

h3 0. Spuštění cli
p Tuto část budete zpracovávat v hlavní větvi repozitáře, hotové řešení je vidět v branchi #[strong 01-complete].

p Spustíme angular-cli stack, aby aplikace běžela a průběžně buidlovala změny kódu.

snippet.
  ng serve

p Na adrese
  | &nbsp;
  a(href="http://localhost:4200",target="_blank") http://localhost:4200
  |  můžete vidět úvodní stránku aplikace s textem "TODO zde použijte komponentu app-session-detail-card".

p.
  Pojďme se tedy pustit do tvorby vlastní komponenty.

h3 1. vytvoření komponenty
p.
  Pro vytvoření komponenty můžeme použít scaffolding #[strong angular-cli].
  Komponentu #[strong SessionDetail] ve složce #[em session] vygenerujeme příkazem:

snippet.
  ng generate component session/SessionDetailCard

  # můžete použít také zkrácenou verzi
  ng g component session/SessionDetailCard

p.
  Ve složce #[em src/session] vznikla podsložka #[em session-detail-card] se čtyřmi soubory - šablonou, styly, testem a kódem.
  Při pohledu do souboru #[em src/session/session-detail-card/session-detail-card.ts] uvidíte následující kód:

snippet
  :highlight-js
    import { Component, OnInit } from '@angular/core';

    @Component({
      selector: 'app-session-detail-card',
      templateUrl: './session-detail-card.component.html',
      styleUrls: ['./session-detail-card.component.css']
    })
    export class SessionDetailCardComponent implements OnInit {

      constructor() { }

      ngOnInit() {
      }

    }

p.
  Všimněte si vlastnosti #[strong selector] v dekorátoru komponenty - to je název html prvku, který bude komponentu reprezentovat.
  Když tedy v šabloně #[em src/app/app.component.html] komponentu použijeme, měli bychom po rebuildu vidět v prohlížeči její šablonu.

ul.task
  li použijte komponentu v #[em app.component.html]
  li zkontrolujte, že se zobrazuje v prohlížeči text "session-detail-card works!"

hint Použijte element #[strong app-session-detail-card]

solution
  i app/app.component.html
  hr
  :highlight-html
    <div class="columns">
      <app-session-detail-card></app-session-detail-card>
    </div>

h3 2. data a šablona komponenty

p.
  Šablona může jako data využívat vlastnosti komponenty.
  Pro začátek tedy nastavíme do session komponenty v #[em src/session/session-detail-card/session-detail-card.ts] data

ul.task
  li v komponentě #[strong SessionDetailCard] vytvořte vlastnost #[strong session] s daty níže
  li importujte připravený interface Session, pokud to IDE neudělalo za vás
    hint
      snippet.
        import { Session } from "../session";


snippet.
  session: Session = {
   "id": 400,
   "title": "REST API je mrtvé, ať žije GraphQL",
   "description": "REST se stal standardem pro API. Poslední dobou se ale ukazuje, že není vhodné pro uživatelské rozhraní. Facebook nám nabídl GraphQL a skvělou knihovnu Relay, která usnadňuje a zrychluje práci s daty v aplikacích. ",
   "speakers": [
     {
       "id": 6,
       "name": "Petr Ferschmann"
     }
   ],
   "language": "Czech",
   "complexity": "Advanced",
   "tags": [
     "Backend",
     "Web",
     "GraphQL",
     "REST API"
   ]
  }

solution
  i app/session/session-detail-card/session-detail-card.component.ts
  hr
  :highlight-js
    import {Component, OnInit} from '@angular/core';
    import {Session} from "../session";

    @Component({
      selector: 'app-session-detail-card',
      templateUrl: './session-detail-card.component.html',
      styleUrls: ['./session-detail-card.component.css']
    })
    export class SessionDetailCardComponent implements OnInit {

      session: Session = {
        "id": 400,
        "title": "REST API je mrtvé, ať žije GraphQL",
        "description": "REST se stal standardem pro API. Poslední dobou se ale ukazuje, že není vhodné pro uživatelské rozhraní. Facebook nám nabídl GraphQL a skvělou knihovnu Relay, která usnadňuje a zrychluje práci s daty v aplikacích. ",
        "speakers": [
          {
            "id": 6,
            "name": "Petr Ferschmann"
          }
        ],
        "language": "Czech",
        "complexity": "Advanced",
        "tags": [
          "Backend",
          "Web",
          "GraphQL",
          "REST API"
        ]
      };

      constructor() { }

      ngOnInit() {}

    }

p.
  Tyto data nyní můžeme v šabloně používat.
  Do šablony komponenty si tedy vložme html připravené od stylaře a naplníme jej daty.

ul.task
  li zkopírujte html připravené níže do souboru #[em app/session/session-detail-card/session-detail-card.component.html]
  li zkontrolujte, že se html zobrazí

snippet
  :highlight-html
    <div class="container">
      <div class="card is-fullwidth">
        <header class="card-header">
          <p class="card-header-title">
            <!-- TODO vypište titulek -->
            Building Node.js apps on Google Cloud Platform
          </p>
          <a class="card-header-icon">

            <!--TODO obslužte kliknutí na ikonu -->
            <i class="fa fa-heart"></i>
          </a>
        </header>
        <div class="card-content">
          <div class="content">

            <div class="tags">

              <!--TODO zobrazte v cyklu všechny tagy session-->

              <span class="tag is-primary">
                Backend
              </span>
            </div>

            <!--TODO vypište description-->

            Node.js makes building web applications that perform at scale easy - Google App Engine makes running Node.js
            in production fun. In this session, we're going to learn about the various ways to run Node.js applications on
            Google Cloud. We'll walk through deploying your first Hello World app and using the gcloud NPM module, we will
            connect our app to other Google Cloud services such as Vision API (to classify images), Cloud Storage (for
            binary storage), Pub/Sub (for messaging). We will look at versioning, traffic splitting, live debugging, HTTP
            tracing and all other features that make running Node.js in the cloud fun! <br>

            <!--TODO vypište jazyk a obtížnost-->
            <small>English / Beginner</small>

            <!--TODO použijte metodu komponenty-->
            <div class="speakers">
              <b>Přednáší:</b>
              Mete Atamel
            </div>

          </div>
        </div>
      </div>
    </div>

ul.task
  li nahraďte v šabloně statická data výpisem vlastností objektu #[strong session]
    ul
      li název přednášky #[strong session.title]
      li popis přednášky  #[strong session.description]
      li jazyk a náročnost #[strong session.language], #[strong session.complexity]
  li zkontrolujte, že se data vypisují správně

hint
  div(ng-non-bindable).
    data v šabloně vypisuje pomocí složených závorek {{value}} a to i pokud jde o objektové vlastnosti {{object.property}}

solution
  i app/session/session-detail-card/session-detail-card.component.html
  hr
  :highlight-html
    <div class="card is-fullwidth">
      <header class="card-header">
        <p class="card-header-title">
          {{session.title}}
        </p>
        <a class="card-header-icon">
          <i class="fa fa-heart"></i>
        </a>
      </header>
      <div class="card-content">
        <div class="content">

          <div class="tags">
            <span class="tag is-primary">Backend</span>
          </div>

          {{session.description}}<br>

          <small>{{session.language}} / {{session.complexity}}</small>

          <div class="speakers">
            <b>Přednáší:</b>
            Mete Atamel
          </div>

        </div>
      </div>
    </div>

p.
  U přednášky je dále seznam tagů, ten je nutné vypsat v cyklu

ul.task
  li použijte direktivu #[strong *ngFor] k vypsání tagů #[strong session.tags] a zobrazte pro každý tag vlastní span

hint Direktiva *ngFor se používá v následujícím tvaru - iteruje přes #[strong itemsCollection] a jednotlivé prvky iterací budou přiřazeny do proměnné #[strong item]

  snippet
    :highlight-html
      <div *ngFor="let item of itemsCollection">

solution
  i app/session/session-detail-card/session-detail-card.component.html
  hr
  :highlight-html
    ...
    <div class="tags">
      <span class="tag is-primary"
            *ngFor="let tag of session.tags">
        {{tag}}
      </span>
    </div>
    ...

p.
  Poslední informace, která zatím chybí jsou informace o přednášejícím.
  Protože přednášejících může být víc, najdete je v poli #[strong session.speakers]. Mohli bychom opět použít #[strong ngFor], ukážeme si ale jiné řešení.
  Použijeme volání metody v šabloně - kód metody je připravený níže

snippet
  :highlight-js
    getSpeakerNames() {
      let speakers: Speaker[] = this.session.speakers || [];
      return speakers.map(speaker => speaker.name).join(', ');
    }

ul.task
  li přidejte do souboru #[em app/session/session-detail-card/session-detail-card.component.ts] výše uvedenou metodu
  li zavolejte jí v šabloně #[em app/session/session-detail-card.component.html]
    ul
      li importujte interface Speaker
        hint
          snippet.
            import { Speaker } from "../speaker";

ul.task
  li zkontrolujte, že se jméno vypisují správně

solution
  i app/session/session-detail-card/session-detail-card.component.ts
  hr
  :highlight-js
    import {Component, OnInit} from '@angular/core';
    import {Session} from "../session";
    import {Speaker} from "../speaker";

    @Component({
      selector: 'app-session-detail-card',
      templateUrl: './session-detail-card.component.html',
      styleUrls: ['./session-detail-card.component.css']
    })
    export class SessionDetailCardComponent implements OnInit {

      session: Session = {
        "id": 400,
        "title": "REST API je mrtvé, ať žije GraphQL",
        "description": "REST se stal standardem pro API. Poslední dobou se ale ukazuje, že není vhodné pro uživatelské rozhraní. Facebook nám nabídl GraphQL a skvělou knihovnu Relay, která usnadňuje a zrychluje práci s daty v aplikacích. ",
        "speakers": [
          {
            "id": 6,
            "name": "Petr Ferschmann"
          }
        ],
        "language": "Czech",
        "complexity": "Advanced",
        "tags": [
          "Backend",
          "Web",
          "GraphQL",
          "REST API"
        ]
      };

      constructor() { }

      ngOnInit() { }

      getSpeakerNames() {
        let speakers: Speaker[] = this.session.speakers || [];
        return speakers.map(speaker => speaker.name).join(', ');
      }

    }

  hr
  i app/session/session-detail-card/session-detail-card.component.html
  hr
  :highlight-html
    ...
    <div class="speakers">
      <b>Přednáší:</b>
      {{getSpeakerNames()}}
    </div>
    ...

h3 3. styly komponenty
p.
  V aplikaci můžete definovat obecně platné styly, můžete je ale také omezit na komponentu.
  Naše komponenta by mohla mít větší mezery u některých prvků, zároveň ale nechceme styly ovlivnit nic jiného, definujeme je tedy přímo komponentě.

snippet
  :highlight
    .tags .tag {
      margin-right: 10px;
      margin-bottom: 20px;
    }

    .speakers {
      margin-top: 20px;
    }

ul.task
  li vložte styly výše do souboru #[em app/session/session-detail-card/session-detail-card.component.css]
  li zkontrolujte, že se projevili a podívejte se na výsledný kód a jak je zajištěno aby nedošlo ke kolizi stylů s dalšími komponentami.

solution
  i app/session/session-detail-card/session-detail-card.component.css
  hr
  :highlight
    .tags .tag {
      margin-right: 10px;
      margin-bottom: 20px;
    }

    .speakers {
      margin-top: 20px;
    }

h3 4. obsluha událostí
p.
  V pravém horním rohu komponenty najdete odkaz s ikonkou srdíčka. V budoucnu ho budeme používat k označení přednášek,
  které se uživateli líbí. To ale není starostí této komponenty. Ta bude pouze notifikovat nadřazenou komponentu.
  Prozatím si pojďme vyzkoušet zpracování událostí.

ul.task
  li vytvořte ve třídě komponenty #[em app/session/session-detail-card/session-detail-card.component.ts] metodu #[strong heartClickHandler]. Pro začátek stačí když v ní zalogujete do konzole, že byla volána.
  li použijte metodu #[strong heartClickHandler] jako obsluhu události #[strong click] odkazu s ikonou.

hint Obsluha události se zapisuje ve tvaru
  snippet
    :highlight-html
      <element (událost)="metoda()" />

solution
  i app/session/session-detail-card/session-detail-card.component.ts
  hr
  :highlight-js
    ...
    export class SessionDetailCardComponent implements OnInit {

      session: Session = {
        "id": 400,
        "title": "REST API je mrtvé, ať žije GraphQL",
        ...
      };

      constructor() { }

      ngOnInit() { }

      getSpeakerNames() {
        let speakers: Speaker[] = this.session.speakers || [];
        return speakers.map(speaker => speaker.name).join(', ');
      }

      heartClickHandler() {
        console.log('heartClickHandler');
      }

    }

  hr
  i app/session/session-detail-card/session-detail-card.component.html
  hr
  :highlight-html
    ...
    <a class="card-header-icon"
       (click)="heartClickHandler()" >
      <i class="fa fa-heart"></i>
    </a>
    ...

h3 5. @Input a @Output
p.
  Komponenta vypisuje data a obsluhuje událost, všechno si ale řeší uvnitř sebe.
  Nyní bychom ji chtěli definovat vstupní a výstupní vlastnosti, aby ji později bylo možné použít v rámci dalších komponent.

p.
  Data o přednášce by komponenta měla dostávat zvenku.
  Smažme tedy data přiřazovaná do vlastnosti #[strong session] uvedená v komponentě, ponechte pouze definici vlastnosti a označte ji jako vstup.

ul.task
  li definujte vlastnost session jako vstup pomocí dekorátoru #[strong @Input()]

solution
  i app/session/session-detail-card/session-detail-card.component.ts
  hr
  :highlight-js
    import { Component, OnInit, Input } from '@angular/core';
    import { Session } from "../session";
    import { Speaker } from "../speaker";

    @Component({
      selector: 'app-session-detail-card',
      templateUrl: './session-detail-card.component.html',
      styleUrls: ['./session-detail-card.component.css']
    })
    export class SessionDetailCardComponent implements OnInit {

      @Input() session: Session;

      constructor() { }

      ...

    }

ul.task
  li data komponentě předáme z nadřazení komponenty #[strong app-root], kde jsou připravena ve vlastnosti #[strong sessionExample].
  li v šabloně komponenty #[em app/app.component.html] předejte #[strong sessionExample] jako atribut #[strong session]

hint Data do atributu předáme pomocí syntaxe
  snippet
    :highlight-html
      <component [attribut]="data"></component>

solution
  i app/app.component.html
  hr
  :highlight-html
    <div class="columns">
      <app-session-detail-card [session]="sessionExample"></app-session-detail-card>
    </div>

ul.task
  li zkontrolujte, že komponenta zobrazuje data
p.
  Stejně tak o kliknutí na ikonku srdíčka chceme notifikovat nadřazenou komponentu

ul.task
  li v #[em app/session/session-detail-card/session-detail-card.component.ts] definujte vlastnost #[strong favoriteClick] a dekorujte ji dekorátorem #[strong @Output()]
  li jako hodnotu jí přiřaďte novou instanci třídy #[strong EventEmitter] můžete použít generika a typ #[strong Session]

  li v obsluze kliknutí #[string heartClickHandler] emitujte vlastnost #[string session]

hint Na událost reagujete pomocí syntaxe
  snippet
    :highlight-html
      <component (event)="data"></component>

solution
  i app/session/session-detail-card/session-detail-card.component.ts
  hr
  :highlight-js
    import { Component, OnInit, Input, Output, EventEmitter } from '@angular/core';
    import { Session } from "../session";
    import { Speaker } from "../speaker";

    @Component({
      selector: 'app-session-detail-card',
      templateUrl: './session-detail-card.component.html',
      styleUrls: ['./session-detail-card.component.css']
    })
    export class SessionDetailCardComponent implements OnInit {

      @Input() session: Session;
      @Output() favoriteClick = new EventEmitter<Session>();


      ...

      heartClickHandler() {
        this.favoriteClick.emit(this.session);
      }

    }

ul
  li.
    v šabloně #[em app.component.html] reagujte na událost #[strong favoriteClick] voláním připraveného handleru #[strong favoriteClickHandler]
    a jako parametr předejte #[strong $event] (tedy hodnotu emitovanou komponentou)

solution
  i app/app.component.html
  hr
  :highlight-html
    <div class="columns">
      <app-session-detail-card
        [session]="sessionExample"
        (favoriteClick)="favoriteClickHandler($event)"></app-session-detail-card>
    </div>

.success.
  Výborně, právě jste vytvořili samostatnou komponentu, která dostává vstupní data a umožňuje reagovat na události, které v ní nastaly.
  Komponenty jsou základním stavebním prvkem aplikací v Angular 2, v další části se podíváme jak je skládat dohromady a propojit do aplikace.
