h2 Angular 2 workshop

.info.
  Všechny materiály najdete na #[a(href="http://www.angular.cz/akce/devfest-2016/", target="_blank") angular.cz/devfest-2016/]

h3 Prerekvizity

p Budeme potřebovat:
ul
  li
    a(href="https://git-scm.com/",target="_blank") git
  li
    a(href="https://nodejs.org/en/",target="_blank") nodejs
    |  - doporučenou verzi nodeJS - 6.9.X nebo větší
  li rozumný editor s podporou TypeScriptu, doporučujeme
    a(href="https://www.jetbrains.com/webstorm/download/")  Webstorm

p Pro náš projekt použijeme
  | &nbsp;
  a(href="http://cli.angular.io",target="_blank") Angular CLI
  | &nbsp;
  | Ten potřebujeme mít nainstalovaný globálně:

snippet.
  npm install -g @angular/cli

p Správnost instalace můžete ověřit příkazem
snippet.
  ng --help
p Měl by vám vypsat nápovědu k použití příkazu.

p Nástroje máme připravené, pro workshop jsme připravili
  | &nbsp;
  a(href="https://bitbucket.org/angular_cz/devfest-angular2-workshop") repozitář
  | . Naklonujte si ho a poté ve složce projektu spusťte instalaci závislostí

snippet.
  git clone https://bitbucket.org/angular_cz/devfest-angular2-workshop

  cd devfest-angular2-workshop
  npm install

p A to je vše. Pokud si chcete ověřit, že je vše nainstalované správně, můžete ve složce projektu spustit příkaz

snippet.
  ng serve

p Ten zbuilduje projekt a zpřístupní ho na adrese
  | &nbsp;
  a(href="http://localhost:4200",target="_blank") http://localhost:4200
  | .

.success.
  Pokud vše proběhlo bez chyb, jste připravení. Těšíme se na workshopu.

.danger.
  Objeví-li se během instalace nějaký problém, napište na gdgbrno@gug.cz, poradíme vám jak dál.
