h2 Observables

p.
  V minulé části jsme narazili na #[b Observables] - tedy reprezantaci datových streamů proměnných v čase.
  To je velmi silný koncept a následující část vám ukáže, kde všude ho můžete využít.

h3 0. Branch a spuštění cli
p Pro práci na této části checkoutněte větev #[strong 03-start], hotové řešení je vidět v branchi #[strong 03-complete].
snippet.
  git checkout 03-start

p Spustíme angular-cli stack, aby aplikace běžela a průběžně buidlovala změny kódu.

snippet.
  ng serve

p Na adrese
  | &nbsp;
  a(href="http://localhost:4200",target="_blank") http://localhost:4200
  |  můžete vidět úvodní stránku aplikace.

p.
  V této části máme připravenou další komponentu #[strong SessionNotificationPanelComponent], která je zobrazená v pravé části obrazovky.
  Zobrazuje živá data o oblíbenosti jednotlivých přednášek. Data jsou načítána z firebase.
  Nebudeme se zaměřovat na firebase, ale na práci s asynchronnímy daty.

p.
  Stačí nám tedy vědět, že použitá knihovna angularfire2 vrací Observable data vypisovaná pomocí pipe #[strong async].

snippet
  i app/session/session-notification-panel/session-notification-panel.component.ts
  hr
  :highlight-js
    @Component({
      selector: 'app-session-notification-panel',
      templateUrl: './session-notification-panel.component.html',
    })
    export class SessionNotificationPanelComponent {

      items: Observable<SessionLike[]>;

      constructor(af: AngularFire) {
        const firebaseQuery = {
          query: {
            limitToLast: 6
          }
        };

        this.items = af.database.list('/likes', firebaseQuery)
          .map(lastItems => lastItems.reverse());

      }
    }

snippet
  i app/session/session-notification-panel/session-notification-panel.component.html
  hr
  :highlight-html
    ...
    <div class="panel-block"
         *ngFor="let item of items | async">
          <span class="panel-icon">
            <i class="fa fa-heart"></i>
          </span>
      {{item.user}} likes {{item.sessionTitle}}
    </div>
    ...

h3 1. Odeslání oblíbené položky do firebase

p.
  Abychom si ověřili, že jsou data v notifikacích opravdu živá, budeme při každém kliknutí na srdíčko v detailu přednášky odesílat informaci do firebase.

p.
  Obsluhu události budeme zpracovávat v komponentě #[strong SessionDetailComponent], kde v obsluze události vidíte následující kód:

snippet
  :highlight-js
    onFavoriteClick(session) {
      const likes = this.angularFire.database.list('/likes');

    }

ul.task
  li vytvořte proměnou notification typu #[strong SessionLike]
  li naplňte její atributy #[strong sessionId] a #[strong sessionTitle] daty ze session (title a id)
  li do vlastnosti #[strong user] uveďte své jméno
  li odešlete data do firebase metodou #[strong push] na objektu #[strong likes]
  li zkontrolujte, že při kliknutí na srdíčko se váš "Like" objeví v notifikacích

solution
  i app/session/session-detail/session-detail.component.ts
  hr
  :highlight-js
    onFavoriteClick(session) {
      const likes = this.angularFire.database.list('/likes');

      const notification: SessionLike = {
        sessionTitle: session.title,
        sessionId: session.id,
        user: "Milan"
      };

      likes.push(notification);
    }

h2 Bonus
h3 2. změny inputu jako Observable

p.
  Viděli jsme, že Observables mohou reprezentovat širokou škálu dat měnících se v čase. Stejně tak je můžeme využít v kombinaci s
  HTLM prvkem input.

p.
  V titulku komponenty SessionListComponent máme místo textu input, který by měl sloužit pro filtrování dat.
  Protože víme, že počet přednášek je omezeně malý, můžeme si dovolit filtrovat je na straně klienta
  (v případě velké sady dat se filtrování samozřejmě řeší na straně serveru).

h3 2.1 - Vytvoření FormControl
p.
  Pro podporu reaktivní práce s formulářovými prvky má Angular 2 modul #[strong ReactiveFormsModule] a třídu #[strong FormControl],
  která reprezentuje instanci formulářového prvku, pojďme je tedy zkusit použít.

ul.task
  li v souboru #[em app/app.module.ts] přidejte do dekorátoru #[sgrong NgModule] sekce #[strong imports] závislost #[strong ReactiveFormsModule],

solution
  i app/app.module.ts
  hr
  :highlight-js
    @NgModule({
      declarations: [
        AppComponent,
        Error404Component,
        SpeakerNamesPipe,
        SessionDetailComponent,
        SessionListComponent,
        SessionNotificationPanelComponent,
        SessionDetailCardComponent,
        SessionDetailComponent
      ],
      imports: [
        BrowserModule,
        HttpModule,
        AppRoutingModule,
        AngularFireModule.initializeApp(firebaseConfig),
        ReactiveFormsModule
      ],
      providers: [SessionDataService],
      bootstrap: [AppComponent]
    })
    export class AppModule {
    }

ul.task
  li v komponentě #[strong SessionListComponent] potom definujte vlastnost #[strong searchNameInput],
  li a do ní přiřaďte novou instanci třídy #[strong FormControl]

solution
  i app/session/session-detail/session-detail.component.ts
  hr
  :highlight-js
    export class SessionListComponent implements OnInit {

      observableSessions: Observable<Session[]>;

      searchNameInput = new FormControl();

    ...

h3 2.2 - Obsluha změn hodnoty prvku
p.
  Form control nese stavové informace o inputu na který ho připojíme,
  umožňuje také sledovat změny díky vlastnosti #[strong valueChanges], která je Observable.

ul.task
  li v komponentě #[strong SessionListComponent] v metodě #[strong ngOnInit] registrujte obsluhu na #[strong searchNameInput.valueChanges] pomocí metody #[strong subscribe]
  li v listeneru zatím jen logujte předanou hodnotu

solution
  i app/session/session-list/session-list.component.js
  hr
  :highlight-js
    export class SessionListComponent implements OnInit {

      observableSessions: Observable<Session[]>;

      searchNameInput = new FormControl();

      constructor(private dataService: SessionDataService) {
      }

      ngOnInit(): void {

        this.searchNameInput.valueChanges
          .subscribe(term=> console.log(term));

        this.observableSessions = this.dataService.getList();
      }

    }

p.
  Nyní propojíme form control s fyzickým input prvkem v šabloně #[em session-list.component.html], spojení zajišťuje direktiva #[strong formControl].

ul.task
  li spojte input a control dohromady použitím bindingu na atribut #[b formControl] elementu input, hodnotou bude vlastnost v komponentě - #[strong searchNameInput]

solution
  i app/session/session-list/session-list.component.html
  hr
  :highlight-js
    <input class="input"
           type="text"
           placeholder="Title"
           [formControl]="searchNameInput">

ul.task
  li ověřte, že při zápisu do inputu dochází k výpisu hodnot v konzoli

h3 2.3 - Propojení hledání se seznamem
p.
  Vidíme, že změny inputu jsou Observable, seznam dat je Observable, musí tedy být jednoduché dát to dohromady.

p.
  K vyhledávání můžeme použít metodu #[strong search] na #[strong SessionDataService], která má následující signaturu
  #[code search(text: string): Observable&lt;Session[]&gt;] - tedy jako vstup bere text a vrací Observable nesoucí kolekci Session

p.
  Chtěli bychom tedy:
ul
  li vzít jako zdroj dat #[strong this.searchNameInput.valueChanges]
  li při každé změně "namapovat" požadavek na výsledek hledání podle hodnoty #[strOng this.dataService.search(value)]
  li takto vzniklou sekvenci přiřadit do vlastnosti #[strOng this.observableSessions]

ul.task
  li nahraďte v #[em app/session/session-list/session-list.component.ts] volání #[strong getList] postupem výše
  li pro mapování použijte operátor #[strong flatMap]
  li zkontrolujte co se děje při psaní názvu přednášky do inputu

solution
  i app/session/session-list/session-list.component.ts
  hr
  :highlight-js
    ngOnInit(): void {
      this.observableSessions = this.searchNameInput.valueChanges
        .flatMap((value) => this.dataService.search(value))

    }

ul.task
  li Vyzkoušejte, že obsah seznamu reaguje na psaný text

p.
  Asi jste si všimli, že na začátku byl seznam prázdný. Vyhledávání reaguje až na první zadanou hodnotu.
p.
  Hodilo by se nám definovat iniciální hodnotu streamu. K tomu můžeme použít operátor #[strong startWith].

ul.task
  li upravte sekvenci tak, aby začínala prázdnou hodnotou
  li použijte k tomu operátor #[strong startWith('')]
  li použijte jej ještě před mapováním

solution
  i app/session/session-list/session-list.component.ts
  hr
  :highlight-js
    ngOnInit(): void {
      this.observableSessions = this.searchNameInput.valueChanges
        .startWith('')
        .flatMap(term => this.dataService.search(term));
    }

h3 2.4 - Drobná vylepšení
p.
  Nyní už vidíme seznam ihned při příchodu na seznam, když píšeme text, přednášky se filtrují.
  Můžeme udělat ještě drobné vylepšení.

p.
  Jednak není nutné vyhledávat při každém stisku klávesy, ale před hledáním můžeme chvíli počkat.
  Tzn. filtrovat by se mělo až 200ms poté, co uživatel přestane psát. K tomu můžete využít operátor #[strong debounceTime]
p.
  Druhé vylepšení spočívá v tom, že chceme hledat pouze, pokud se jsou dvě poslední hodnoty za 200ms různé.
  Zkuste vyhledat nějaké slovo - třeba rest a pak rychle dopsat a smazat jedno písmenko.
  V konzoli prohlížeče vidíte, že hledání na stejné slovo proběhlo znovu. Tomu zabráníme použitím operátoru #[strong distinctUntilChanged]

p.
  Operátory aplikujte po operátoru #[strong startWith] a před operátorem #[strong flatMap]

ul.task
  li použijte operátor #[strong debounceTime] pro zpoždění, jako parametr použijte počet milisekund - #[strong 200]
  li použijte operátor #[strong distinctUntilChanged] pro eliminaci duplicitního hledání

solution
  i app/session/session-list/session-list.component.ts
  hr
  :highlight-js
    ngOnInit(): void {
      this.observableSessions = this.searchNameInput.valueChanges
        .startWith('')
        .debounceTime(200)
        .distinctUntilChanged()
        .flatMap(term => this.dataService.search(term));
    }
//
//p.
//  Pokud vás zajímá, proč je možné v konzoli vidět duplicitní hledání, ale není vidět mezi požadavky na server, důvodem je, že
//  stream cachujeme. Jak se to dělá si můžete prohlédnout v #[em app/session/session-data.service.ts]

.success.
  Výborně, úspěšně jste dokončili celý workshop! Gratulujeme. Cokoli Vás zajímá dál, ptejte se.
