h2 Routing and Data

p.
  V předchozí části jsme vytvořili komponentu karty detailu přednášky. V tomto kroku máme připraveny další komponenty.
  #[strong SessionDetailComponent], která využívá dříve vytvořenou kartu komponenty, a #[strong SessionListComponent],
  která představuje seznam přednášek.

h3 0. Branch a spuštění cli
p Pro práci na této části checkoutněte větev #[strong 02-start], hotové řešení je vidět v branchi #[strong 02-complete].
snippet.
  git checkout 02-start

p Spustíme angular-cli stack, aby aplikace běžela a průběžně buidlovala změny kódu.

snippet.
  ng serve

p Na adrese
  | &nbsp;
  a(href="http://localhost:4200",target="_blank") http://localhost:4200
  |  můžete vidět úvodní stránku aplikace.

p.
  Obě komponenty jsou zatím zobrazeny na jedné stránce. Našim úkolem bude použít router, tak aby se dalo přecházet
  mezi seznamem a detailem a v dalším kroku potom zajistit správné načítání dat.

h3 1. Použití routeru

p.
  Konfigurace routeru má standardní formát, proto jsme pro vás připravili skelet v souboru #[em app/app-routing.module.ts]

ul.task
  li prohlédněte si nastavení routingu v #[em app/app-routing.module.ts]
  li přidejte modul #[strong AppRoutingModule] do sekce imports v #[em app/app.module.ts]
  li nahraďte použití komponent #[strong app-session-list] a #[strong app-session-detail] v šabloně #[em app/app.component.html] elementem  #[strong router-outlet]

solution
  i app/app.module.ts
  hr
  :highlight-js
    ...
    @NgModule({
      declarations: [
        AppComponent,
        Error404Component,
        SpeakerNamesPipe,
        SessionDetailComponent,
        SessionListComponent,
        SessionDetailCardComponent,
        SessionDetailComponent
      ],
      imports: [
        BrowserModule,
        HttpModule,

        AppRoutingModule
      ],
      providers: [],
      bootstrap: [AppComponent]
    })
    export class AppModule {
    }

  hr
  i app/app.component.html
  hr
  :highlight-html
    <div class="columns">
      <div class="column is-two-thirds">
        <router-outlet></router-outlet>
      </div>

    </div>

ul.task
  li zkontrolujte, že aplikace nyní zobrazuje jen komponentu #[strong SessionListComponent]

ul
  li ve výpisu se pro zobrazení jmen speakerů používá pipe, můžete se podívat jak a na definici #[em speaker-names.pipe.ts]

h3 2. Detail v routeru

p.
  Nyní v routeru definujeme adresu komponenty detail

ul.task
  li v souboru #[em app/app-routing.module.ts] přidejte router definition objekt s cestou #[strong session/:id] a komponentou #[strong SessionDetailComponent]
    ul
      li to samo o sobě stačí k tomu, aby se na adrese #[a(href="http://localhost:4200/session/100", target="_blank") localhost:4200/session/100] zobrazila komponenta detailu

solution
  i app/app-routing.module.ts
  hr
  :highlight-js
    ...
    @NgModule({
      imports: [
        RouterModule.forRoot([
            {path: '', component: SessionListComponent},
            {path: 'session/:id', component: SessionDetailComponent}
          ]
        )
      ],
      exports: [
        RouterModule
      ]
    })
    export class AppRoutingModule {
    }

ul.task
  li v šabloně #[em app/session/session-list/session-list.component.html] na odkaz nastavte atribut #[strong routerLink], tak aby odkaz směřoval na příslušný detail
    ul
      li hodnota atributu bude
        snippet.
          ['session', session.id]

hint Když je odkaz dynamický, použijte zápis předávající pole, které obsahuje jednotlivé části cesty
  snippet
    :highlight-html
      <a [routerLink]="['path', 'to', item.id]">

solution
  i app/session/session-list/session-list.component.html
  hr
  :highlight-html
    ...
    <td class="is-icon">
      <a [routerLink]="['/session', session.id]">
        <i class="fa fa-info"></i>
      </a>
    </td>
    ...

p.
  Nyní už směrování funguje, detail je prozatím vždy stejný, je dané tím, že jsme zatím neřešili načítání dat dle url, to uděláme později

ul.task
  li šabloně #[em app/session/session-detail/session-detail.component.html] na odkaz #[strong Zpět] použijte direktivu #[strong routerLink], tak aby odkaz zpět mířil opět na seznam (parametr bude #[strong /] )

hint Když je odkaz statický, můžete použít zápis
  snippet
    :highlight-html
      <a routerLink="cesta">

solution
  i app/session/session-detail/session-detail.component.html
  hr
  :highlight-html
    ...
    <div class="back-link is-pulled-right">
      <a routerLink="/">Zpět</a>
    </div>
    ...

ul.task
  li zkontrolujte, že se můžete prokliknout na detail a zpět pomocí odkazů

h3 3. Error component
p.
  Nyní, když zadáte nějakou nesmyslnou adresu, např. #[a(href="http://localhost:4200/qwerty", target="_blank") localhost:4200/qwerty]
  aplikace ne ni nereaguje příliš rozumně.
  Pro tyto situace máme připravenou komponentu #[strong Error404Component], kterou nyní využijeme.

ul.task
  li v souboru #[em app/app-routing.module.ts] přidejte nakonec routovací pravidlo pro komponentu #[strong Error404Component] pro jiné než uvedené cesty (path: #[strong **])
  li zkontrolujte, že aplikace zobrazí chybovou komponentu např. na adrese #[a(href="http://localhost:4200/qwerty", target="_blank") localhost:4200/qwerty]

solution
  i app/app-routing.module.ts
  hr
  :highlight-js
    ...
    @NgModule({
      imports: [
        RouterModule.forRoot([
            {path: '', component: SessionListComponent},
            {path: 'session/:id', component: SessionDetailComponent}
            {path: '**', component: Error404Component}
          ]
        )
      ],
      exports: [
        RouterModule
      ]
    })
    export class AppRoutingModule {
    }


h3 4. Služba pro načítání dat

p.
  Naše komponenty zatím načítají data ze statického souboru a každá samostatně, načítání je ale vhodné zapouzdřit do znovupoužitelné služby.

p.
  Připravili jsme službu #[em app/session/session-data.service.ts], prohlédněte si obsah a následně ji začleňte do dependency injection angularu

ul.task
  li službu #[strong SessionDataService] v souboru #[em session-data.service.ts] označte jako injektovatelnou #[strong @Injectable()]
  li přidejte službu #[strong SessionDataService] do pole #[strong providers] v #[em app/app.module.ts]

solution
  i app/session/session-data.service.ts
  hr
  :highlight-js
    @Injectable()
    export class SessionDataService {

      ...

    }

  hr
  i app/app.module.ts
  hr
  :highlight-js
    @NgModule({
      declarations: [
        AppComponent,
        Error404Component,
        SpeakerNamesPipe,
        SessionDetailComponent,
        SessionListComponent,
        SessionDetailCardComponent,
        SessionDetailComponent
      ],
      imports: [
        BrowserModule,
        HttpModule,
        AppRoutingModule
      ],

      providers: [SessionDataService],

      bootstrap: [AppComponent]
    })
    export class AppModule {
    }

p.
  V dalších úkolech teď můžete službu začít injektovat do komponent a použít její metody pro načítání dat

h3 5. Data pro list
p.
  Nyní injektneme do komponenty #[strong SessionListComponent] v souboru #[em app/session/session-list/session-list.component.html] a načtěme data seznamu přednášek.

ul.task
  li do konstruktoru komponenty #[strong SessionListComponent] přidejte závislost na #[strong SessionDataService] a uložte do atributu #[strong dataService] komponenty

hint Můžete využít zkrácený zápis vlastnosti třídy v konstruktoru
  snippet.
    constructor(private attributeName: InjectedDependency) {}

p.
  Prohlédněte si metodu #[strong getList] služby #[strong SessionDataService]

ul
  li metoda vrací Observable vytvořené z kolekce sessions
  li observable můžete zpracovat pomocí metody #[strong .subscribe], případně můžete využít pipe #[strong async]

p.
  V tomto případě předáme do šablony rovnou #[strong Observable] a zpracujeme pomocí pipe #[strong async]

ul.task
  li v komponentě #[strong SessionListComponent] odstraňte přiřazení statických dat do vlastnosti #[strong sessions]
  li změňte typ vlastnosti #[strong sessions] na #[code Observable < Session[] >]

ul.task
  li v metodě #[strong ngOnInit] volejte #[strong this.dataService.getList()] a hodnotu přiřaďte do vlastnosti #[strong sessions]

solution
  i app/session/session-list/session-list.component.ts
  hr
  :highlight-js
    export class SessionListComponent implements OnInit {

      sessions: Observable<Session[]>;

      constructor(private dataService: SessionDataService) {
      }

      ngOnInit(): void {
        this.sessions = this.dataService.getList();
      }
    }

ul.task
  li v šabloně #[em session-list.component.html] použijte pipe #[strong async] v cyklu přes #[strong sessions]

solution
  i app/session/session-list/session-list.component.html
  hr
  :highlight-html
    ...
    <tr *ngFor="let session of sessions | async">

ul.task
  li vyzkoušejte, že se seznam načítá

h3 4. Data pro detail
p.
  Injektněte službu do komponenty #[strong SessionDetailComponent] v souboru #[em app/session/session-detail/session-detail.component.html] a načtěte data konkrétní přednášky podle id zadaného z routeru.

ul.task
  li v komponentě #[strong SessionDetailComponent] odstraňte přiřazení statických dat do #[strong session]
  li do konstruktoru komponenty přidejte závislost na #[strong SessionDataService] a uložte do atributu komponenty

ul.task
  li injektněte také službu s informacemi o aktuální routě #[strong ActivatedRoute] a přiřaďte do atributu komponenty #[strong route].
    ul
      li opět použijte zkrácený zápis
  li v metodě #[strong ngOnInit] získejte #[strong id] přednášky z routeru, využijte k tomu snapshot parametrů.

snippet
  :highlight-js
    this.route.snapshot.params['id'];
ul
  li nezapomeňte převést získaný parametr na číslo pomocí funkce #[strong parseInt(value)]

ul.task
  li načtěte data pomocí metody #[strong getById] služby #[strong SessionDataService]
    ul
      li metoda vrací Observable s daty přednášky

ul.task
  li na vráceném Observable použijte metodu #[strong subscribe] a reagujte tak na příchozí data přednášky
    ul
      li metoda #[strong subscribe] očekává obslužnou funkci, které předá získaná data.

ul.task
  li předejte metodě #[strong subscribe] funkci ve které získaná data zapíšete do #[strong this.session]

solution
  i app/session/session-list/session-list.component.ts
    hr
    :highlight-js
      export class SessionDetailComponent implements OnInit {

        session: Session;

        constructor(private route: ActivatedRouteSnapshot, private dataService: SessionDataService) {
        }

        ngOnInit(): void {
          let id = parseInt(this.route.params['id']);

          console.log(id);
          this.dataService.getById(id)
            .subscribe(session => this.session = session);

        }

      ...
      }

ul.task
  li Vyzkoušejte, že se opravdu načítají data konkrétního detailu a že můžete mezi stránkami přecházet

.success.
  Výborně, právě jste vytvořili routovatelnou aplikaci a přesunuli načítání dat do znovupoužitelné služby.
  K načítání dat jste použili Observables, v další části se podíváme, k jakým dalším věcem je můžete použít.
